/* Homepage.css */

/* Homepage container */
.homepage {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 50px;
}

/* Homepage header */
.homepage-header {
  text-align: center;
}

.homepage-header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.school-photo {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  border-radius: 10px; /* Rounded corners for the school photo */
}

.homepage-header p {
  font-size: 1.2rem;
  color: #777;
}

/* Homepage content */
.homepage-content {
  margin-top: 20px;
  text-align: center;
}

.homepage-content h2 {
  font-size: 2rem;
}

.homepage-content p {
  font-size: 1.2rem;
  line-height: 1.4;
  color: #444;
}

/* Homepage features */
.homepage-features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}

.feature {
  flex: 1;
  max-width: 30%;
  margin: 0 1%;
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.feature:hover {
  transform: scale(1.05);
}

.feature h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.feature p {
  font-size: 1.2rem;
  color: #555;
}

/* Homepage button */
.homepage-link {
  text-align: center;
  margin-top: 30px;
}

.homepage-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.3rem;
  background-color: #007BFF;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}

.homepage-button:hover {
  background-color: #0056b3;
}

/* Responsive design */
@media (max-width: 768px) {
  .homepage-features {
    flex-direction: column;
  }

  .feature {
    max-width: 100%;
    margin: 10px 0;
  }
}
