/* App.css */
.navbar {
  background: linear-gradient(135deg, #06eebf, #0066ff);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.logo {
  font-size: 28px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  border-radius: 50px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-links li a:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: #0066ff;
  box-shadow: 0 0 10px rgba(0, 102, 255, 0.5);
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}






