.login-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
  }
  .teacher-login-btn{
    margin-top: 10px;
  }
  .login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  
  .login-card {
    background-color: #fff;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    opacity: 0;
    transform: translateY(-20px);
    animation: appearAnimation 0.5s forwards;
  }
  
  .login-form-heading {
    color: #4a90e2;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .input-container {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
  }
  
  .input-container:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  
  .login-form input {
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 10px;
    box-shadow: none;
    outline: none;
  }
  
  .show-password-button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .show-password-button:focus {
    outline: none;
  }
  
  .show-password-button:hover {
    transform: translateY(-50%) scale(1.1);
  }
  
  .login-form-button {
    width: 100%;
    padding: 12px;
    background-color: #4a90e2;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-form-button:hover {
    background-color: #326cb8;
  }
  
  @keyframes appearAnimation {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  